
footer {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;

}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
}

#footer-img{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.border{
    border: 1px solid #ffffff;
    height: 300px;
}

#footer-img img{
    width: 100px;
}

.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 200px;
    flex-direction: row;
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.footer-menu-container a{
    color: #979797;
    transition: .3s ease;
}

.footer-menu-container a:hover{
    color: #f2f2f2;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url("../img/InstagramBlanco.png");
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
    display: block;
}

.social-icon:hover {
    background-color: #121212;
    filter: invert(1);
}

.redes{
    display: flex;
    align-items: center;
    color: #979797;
}

.redes a{
    transition: .3s ease;
    color: #979797;
}

.redes a:hover{
    color: #f2f2f2;
}